/*
font-family: 'Coiny', cursive;  Name
font-family: 'Mukta Malar', sans-serif; Footer info
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 20px;
    background: radial-gradient(white, lightgray, gray);
    display: flex;
  flex-direction: column;
  min-height: 100vh;
}
div{
 /* border: dashed black 2px; */
}

button{
    height: 40px;
    font-weight: bold;
    border-radius: 10px;
    background-color: silver;
    width: 75px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.pad
{
    color: transparent;
}
#headerContent
{
    display: flex;
    justify-content: center;
}


#header
{
   
    background-image: url("file:///Users/stephenrogers/Desktop/Woz%20U/Front%20End%20Foundations/FrontEndFinal/FrontEndFinalProject/pictures/microsoft.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:center;
   
    border: 10px outset gray;
    display: flex;
   justify-content: flex-start;
   width: 900px;
   height: 160px;
   padding-left: 30px;
   
  

}

#name
{

}


#bigName
{   display: flex;
    align-items: center;
    font-family: 'Coiny', cursive;
    font-size: 50px;
    font-weight: bolder;

}
#jobTitle
{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}


#pageContent
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }

.pageblock
{
    background-color: gray;
    color: white;
    border: 10px outset darkgray;
    border-radius: 10px;
    padding: 15px;
    margin: 30px;
    text-align: center;
}
#photo
{
    width: 350px;
}

#gitHubReps
{

}



#theShining
{
    width: 500px;
}

.wraper {
    flex:1;
  }

#footerContent
{
    display: flex;
    justify-content: center;

}
#footer
{
    border: 10px outset darkgray;
    font-size: 25px;
    font-family: 'Mukta Malar', sans-serif; 
    font-weight: bolder;


    display: flex;
    justify-content: flex-start;
    width: 900px;
    height: 170px;
    padding-left: 30px;
    padding-bottom: 5px;
    padding-top: 10px;
}

.footerPhone
{
    margin-top: 15px;
}
.footerIcon
{
    width: 50px;
}

/*Animate Icons*/
.footerIcon:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}


#footerLeft
{


}
#footerRight
{
margin-left: 100px;
}

.first-item {
    order: 1;
  }
  
  .last-item {
    order: -1;
  }

  .indention
  {
      text-align: right;
      margin-right: 35px;
  }


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }